<ul class="breadcrumb">
  <li><%= @content.page %> <span class="divider">/</span></li>
  <li><em><%= @content.name %></em> <span class="divider">/</span></li>
  <li><%= @content.locale %></li>
</ul>

<% if @content.class == Cmsino::ImageContent %>  
  <%= image_tag(@content.name, :width => '200px') %>  
<% end %>

<%= form_for @content do |c| %>  
  <%= c.hidden_field :page %>  
  <%= c.hidden_field :name %>  
  <%= c.hidden_field :locale %>  
  <% if @content.class == Cmsino::ImageContent %>  
    <%= c.label :title %>  
    <%= c.text_field :title %>  
  <% end %>
  <%= c.text_area :text, :rows => 4, :style => "width: 810px; height: 200px" %>  
  <br/>
  <%= c.submit %>  
<% end %>

<div class="row">
  <% @all_contents.each do |c| %>
    <div class="span1">
      <span class="badge badge-info" style="width: 25px; text-align: center"><%= c.locale %></span>
      <% if c.locale != @content.locale %>
        <%= link_to 'edit', edit_cmsino_content_path(c) %>
      <% end %>
    </div>
    <div class="span11"><div class="alert alert-info"><%= c.text %></div></div>
  <% end %>
</div>

<%= @content.inspect %>  

<script type="text/javascript">
  $('#cmsino_content_text').wysihtml5({"stylesheets": [], "html": true,});
</script>


<!-- 
  bkLib.onDomLoaded(function() { nicEditors.allTextAreas({iconsPath : '<%= image_path('nicEditorIcons.gif') %>'}) });
  -->
