<h2>Editing di <em><%= @content.name %></em> (pagina <%= @content.page %>)</h2>

<%= form_for @content do |c| %>  
  <%= c.text_area :text, :cols => 100, :rows => 4 %>  
  <%= c.submit %>  
<% end %>

<%= @content.inspect %>  

<script type="text/javascript">
  bkLib.onDomLoaded(function() { nicEditors.allTextAreas({iconsPath : '<%= image_path('nicEditorIcons.gif') %>'}) });
</script>

