<h2><%= @content.page %> > <em><%= @content.name %></em> > <%= @content.locale %></h2>

<% if @content.class == Cmsino::ImageContent %>  
  <%= image_tag(@content.name, :width => '200px') %>  
<% end %>

<%= form_for @content do |c| %>  
  <%= c.hidden_field :page %>  
  <%= c.hidden_field :name %>  
  <%= c.hidden_field :locale %>  
  <% if @content.class == Cmsino::ImageContent %>  
    <%= c.label :title %>  
    <%= c.text_field :title %>  
  <% end %>
  <%= c.text_area :text, :cols => 100, :rows => 4 %>  
  <%= c.submit %>  
<% end %>

<% @other_contents.each do |c| %>
  <p><span class="badge badge-info" style="width: 25px; text-align: center"><%= c.locale %></span>
     <span class="alert alert-info"><%= c.text %></span></p>
<% end %>

<%= @content.inspect %>  

<script type="text/javascript">
  bkLib.onDomLoaded(function() { nicEditors.allTextAreas({iconsPath : '<%= image_path('nicEditorIcons.gif') %>'}) });
</script>

