<ul class="breadcrumb">
  <li><%= @content.umbrella %></li>
  <li><%= @content.name %></li>
  <li><%= @content.locale %></li>
</ul>

<%= simple_form_for @content do |content| %>  
  <%= content.hidden_field :umbrella %>  
  <%= content.hidden_field :locale %>  
  <% if @content.class == Cmsino::Post %>
    <%= content.input :name %> 
    <%= content.input :date, as: :date %> 
  <% else %>
    <%= content.hidden_field :name %>  
  <% end %>
  <%= content.input :text %>  
  <%= content.submit %> 
<% end %>

<div class="row">
  <% @all_locales.each do |content| %>
    <% content == @content and next %>  
    <div class="col-md-1">
      <span class="badge badge-warning" style="width: 35px; text-align: center">
        <% if content.locale != @content.locale %>
          <%= link_to content.locale, edit_cmsino_content_path(content) %>
        <% else %>
          <%= content.locale %>
        <% end %>
      </span>
      <%= link_to '<i class="icon icon-trash"></i>'.html_safe, cmsino_content_path(content), :method => :delete, :data => { :confirm => 'sure?' } unless content.locale == @content.locale %>
    </div>
    <div class="col-md-11">
      <div class="alert alert-info"><%= content.text %></div>
    </div>
  <% end %>
</div>

<%= ul_media(@content) %>  

<% if ! @content.new_record? %>  
  <%= link_to icon('camera') + 'add media', cmsino_content_media_path(@content), class: 'button' %>  
<% end %>


<!-- 
bkLib.onDomLoaded(function() { nicEditors.allTextAreas({iconsPath : '<%= image_path('nicEditorIcons.gif') %>'}) });
-->
