<ul class="breadcrumb">
  <li><%= @content.umbrella %></li>
  <li><%= @content.name %></li>
  <li><%= @content.locale %></li>
  <li><%= @content.id %></li>
</ul>

<%= simple_form_for @content do |content| %>  
  <%= content.hidden_field :umbrella %>  
  <%= content.hidden_field :locale %>  
  <% if @content.class == Cmsino::Post %>
    <%= content.input :name %> 
    <%= content.input :date, as: :date_picker %>
  <% else %>
    <%= content.hidden_field :name %>  
  <% end %>
  <%= content.input :text %>  
  <%= content.submit %> 
<% end %>

<ul class="list-group">
  <% @all_content_locales.each do |content| %>
    <% content == @content and next %>  
    <li class="list-group-item">
      <p>
        <strong><%= content.locale %></strong>
        <%= link_to icon(:edit), edit_cmsino_content_path(content, locale: content.locale) %>
        <%= link_to icon(:trash), cmsino_content_path(content), method: :delete, data: { confirm: 'sure?' } %>
        <%= link_to icon(:copy), '#', id: 'copy-locale-content' %>
      </p>
      <div class="other_locale">
        <%= content.text %>
      </div>
    </li>
  <% end %>
</ul>

<%= ul_media(@content) %>  

<% if ! @content.new_record? %>  
  <%= link_to icon('camera') + 'add media', cmsino_content_media_path(@content), class: 'button' %>  
<% end %>

<%= javascript_tag do %>  
  $("#copy-locale-content").click(function(e) {
    e.preventDefault();
    var other_text = $(this).parent().parent().find(".other_locale").text();
    $('#cmsino_content_text').data("wysihtml5").editor.setValue(other_text);
  });
<% end %>
