<h1>Contents</h1>

<div class="accordion" id="pages">
  <% @contents.each_key do |page| %>  
    <% @contents[page].each_key do |name| %>  
      <div class="accordion-group">
        <div class="accordion-heading">
          <%# FIXME use some id or check security in page name %>
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#pages" href="#<%= page %><%= name %>">
            <strong><%= Cmsino::Page.description(page) %></strong> > <strong><%= name %></strong>
          </a>
        </div><!-- accordion-heading -->
        <div id="<%= page %><%= name %>" class="accordion-body collapse">
          <div class="accordion-inner">
            <% @locales.each do |locale| %>  
              <span class="badge badge-info" style="width: 25px; text-align: center"><%= locale %></span>
              <% if @contents[page][name][locale] %>  
                <%= @contents[page][name][locale][:text] %>  
              <% else %>  
                -
              <% end %>
              <%= link_to "<i class='icon-edit'></i>".html_safe, @contents[page][name][locale] ? edit_cmsino_content_path(@contents[page][name][locale]) : new_cmsino_content_path(:page => page, :name => name, :locale => locale) %>
              <% if @contents[page][name][locale] %>
                <%= link_to "<i class='icon-trash'></i>".html_safe, cmsino_content_path(@contents[page][name][locale]), :method => :delete %>
              <% end %>
              <br/>
            <% end %>
          </div><!-- accordion-inner -->
        </div><!-- accordion-body -->
      </div><!-- accordion-group -->
    <% end %><!-- name -->
  <% end %><!-- page -->
</div>
