<h1>Contents</h1>

<% @contents.each_key do |page| %>  
  <% @contents[page].each_key do |name| %>  
    <div style="border: 1px solid">
      <p><strong><%= page %> > <%= name %></strong></p>
      <% @locales.each do |locale| %>  
          <%= locale %>
          <%= link_to "<i class='icon-edit'></i>".html_safe, @contents[page][name][locale] ? edit_cmsino_content_path(@contents[page][name][locale]) : new_cmsino_content_path(:page => page, :name => name, :locale => locale) %><br/>
          <div style="background-color: #eee">
          <% if @contents[page][name][locale] %>  
            <%= @contents[page][name][locale][:text] %>  
          <% else %>  
            -
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
