<h1>Media</h1>

<ul class="media-list">
  <% @media.each do |media| %>  
    <li class="media">
    <div class="media-left">
      <a href="#"><%= image_tag media.attach.url(:thumb), class: "media-object" %></a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= media.name %>  </h4>
      <p><%= media.description %> </p>
      <p><%= link_to_delete cmsino_medium_path(media) %>  
    </div>
    </li>
  <% end %>
</ul>

<%= link_to 'new medium', new_cmsino_medium_path %>  
